.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.income {
  background: green;
}

.expense {
  background: red;
}

.balance {
  background: blue;
}